<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="card border-secondary mb-2" style="max-width: 100%; line-height: 0.6;">
    <div class="card-header">Дополнительная информация</div>
    <div class="card-body text-secondary">
        <div class="form-group">
            <textarea class="form-control" name="employeeextradata" id="employeeextradata" rows="2" style="width: 100%"></textarea>
        </div>
    </div>
</div>
</body>
</html>