<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    {% load static %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

    <title>500 error</title>
</head>
<body>
{% include "index/common/navs/nav.html" %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">500</h1>
        <p class="lead">Внутренняя ошибка сервера.</p>
        <hr class="my-4">
        <p>Обратитесь в Отдел образовательных информационных технологий по тел. 289-21-81 либо +375(44)-723-48-13</p>
    </div>

</div>

</body>
</html>