<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title></title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index:index' %}">Академия МВД НИО</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index:index' %}">На главную<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'authors:list' %}">Ввод материалов</a>
            </li>
            {#            <li class="nav-item">#}
            {#                <a class="nav-link" href="#">Обработка материалов</a>#}
            {#            </li>#}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'reporting:employee' %}">Отчетная документация</a>
            </li>

            {#            <li class="nav-item">#}
            {#                <a class="nav-link" href="{% url 'authors:updatelist' %}">Редактирование данных</a>#}
            {#            </li>#}

            <li class="nav-item">
                <a class="nav-link" href="{% url 'index:about' %}">О программе</a>
            </li>
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="/admin">Администрирование</a>#}
{#            </li>#}
        </ul>
        <ul class="navbar-nav">
            {% if user.is_authenticated  %}
                <li class="nav-item">
                    <a class="nav-link"><i class="fas fa-user"></i> Вы вошли в систему как {{ user.last_name }} {{ user.first_name }}!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}"> Выход</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}"><i class="fas fa-user"></i> Вход в систему</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<script src="{% static 'index/js/JQueryLocal.js' %}"></script>
</body>
</html>